# SQL Workbench for prototyping and testing

In [4]:
import sqlite3

from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
        
    except Error as e:
        print(f"The error '{e}' occurred")
    
    return connection

In [5]:
connection = create_connection("E:\\test_app.sqlite")

Connection to SQLite DB successful

In [6]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [7]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

In [8]:
execute_query(connection, create_users_table)

Query executed successfully

In [9]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  title TEXT NOT NULL, 
  description TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [10]:
execute_query(connection, create_posts_table)

Query executed successfully

In [11]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_comments_table)  
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

In [12]:
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25:00:00, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

In [13]:
print(create_users)
print(type(create_users))

INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25:00:00, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');

<class 'str'>

In [14]:
import csv, sqlite3

con = sqlite3.connect("E\sm_app.sqlite") # change to 'sqlite:///your_filename.db'
cur = con.cursor()
cur.execute("""CREATE TABLE IF NOT EXISTS master_table (
  messstelle            TEXT NOT NULL,
  gewässer              TEXT NOT NULL,
  datetime              DATETIME,
  wasserstand_cm       INT,
  änderungen_2std_cm   INT,
  abfluss_cm           INT,
  meldestufe            TINYINT,
  jährlichkeit          INT,
  vorhersage            INT
);""") # use your column names here

with open('bay_river_pegel_2021-08-23_bis_2021-10-04.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['messstelle'], i['gewässer'], i['datumzeit'], i['wasser_stand_cm_'], i['änderungseit2std__cm_'], i['abfluss_m__s_'], i['melde_stufe'], i['jähr_lichkeit'], i['vorher_sage']) for i in dr]

cur.executemany("INSERT INTO master_table (messstelle, gewässer, datetime, wasserstand_cm, änderungen_2std_cm, abfluss_cm, meldestufe, jährlichkeit, vorhersage) VALUES (?, ?, ? ,?,?,?,?,?,?);", to_db)
con.commit()

In [20]:
cur.execute("SELECT messstelle, gewässer FROM master_table LIMIT 5")
inhalt = cur.fetchall()

In [22]:
cur.execute(''' SELECT Column_name
FROM master_table.columns 
WHERE Table_name LIKE 'Columns' ''')
columns_sql = cur.fetchall()
print(columns_sql)

OperationalError: no such table: master_table.columns

In [16]:
import pandas as pd

In [18]:
df_inhalt = pd.DataFrame(inhalt)

In [19]:
df_inhalt

            0                 1
0  Schenkenau               Itz
1         Büg         Schwabach
2  Bad Vilbel             Nidda
3     Arzberg            Röslau
4         Hof  Sächsische Saale